body {
    height: 100vh;
    /* background-color: aqua; */
}

header {
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.pokedex {
    text-align: center;
}

.informacao {
    width: 360px;
    position: absolute;
    left: 70%;
    text-align: center;
    color: gray;

}

.informacao span {
    margin: 7px;
    font-size: 23px;
}

.informacao span:hover {
    color: black;
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

/*header finalizado a cima*/

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.char {
    width: 50vw;
    height: 100vh;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20%;
    height: 100px;
}

.titulo span {
    color: gray;
    font-size: 24px;
}

.titulo p {
    position: absolute;
    top: 160px;
    justify-content: center;
    font-style: bold;
    height: 20px;
    width: 70px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

.proximo {
    height: 50%;
    display: flex;

}

.img {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.img img {
    height: 500px;
    filter: drop-shadow(10px 20px 70px rgb(255, 127, 0));
}

.pag {
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.pag span {
    font-size: 24px;
}

.pag p {
    position: absolute;
    bottom: 580px;
    left: 95px;
    color: gray;
    font-size: 15px;
}

/*Parte de baixo da evolução*/

.evolucao {
    height: 41%;
    display: flex;
    justify-content: space-evenly;
}

.text {
    font-size: 20px;
    width: 160px;
    position: absolute;
    left: 120px;
}


/*charmander*/

.n4 {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charmander {
    padding: 20px;
    border: 3px solid;
    border-color: orange;
    border-radius: 100%;
}

.charmander img {
    height: 142px;
}

.information span {
    font-size: 24px;
    color: gray;
}

.information p {
    font-size: 20px;
    width: 70px;
    font-style: bold;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
}

/*charmeleon*/

.n5 {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charmeleon {
    border-radius: 100%;
    border: 3px solid;
    border-color: orange;
    padding: 20px;
}

.charmeleon img {
    height: 142px;
}

.information2 span {
    font-size: 24px;
    color: gray;
}

.information2 p {
    font-size: 20px;
    width: 70px;
    font-style: bold;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
}

/*charizard*/

.n6 {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charizard {
    border-radius: 100%;
    border: 3px solid;
    border-color: orange;
    padding: 20px;
}

.charizard img {
    height: 142px;
}

.information3 span {
    font-size: 24px;
    color: gray;
}

.tipo {
    width: 150px;
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-style: bold;
}

#fogo {
    background-color: orange;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}

#fly {
    border-radius: 10px;
    width: 70px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(113, 113, 236), gray)
}


/*outro lado abaixo*/

.info {
    width: 50vw;
    height: 100vh;
}



.elemento {
    padding-left: 25px;
    padding-top: 10px;
    gap: 15px;
    display: flex;

}

.fraquezas {
    height: 10%;
}

#agua {
    font-size: 20px;
    font-family: bold;
    color: #fafafa;
    background-color: blue;
    width: 80px;
    border-radius: 10px;
    text-align: center;
}

#terra {
    font-size: 20px;
    font-family: bold;
    background: linear-gradient(to bottom, #f2db42, #ac9743);
    width: 80px;
    border-radius: 10px;
    text-align: center;
}

#pedra {
    font-size: 20px;
    font-family: bold;
    background-color: #a48c20;
    width: 80px;
    border-radius: 10px;
    text-align: center;
}

.descricao {
    height: 20%;
}

.story {
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 25px;
    font-family: bold;
}

.peq {
    width: 450px;
    font-size: 25px;
}

.versao {
    display: flex;
    height: 40%;
}

.versions {
    height: 100%;
    width: 70%;

}

/*meio do canto esquerdo*/

.ver {
    width: 100%;
    height: 18%;
    display: flex;
    gap: 30px;
}

.ver h1 {
    font-size: 25px;
    font-family: bold;
}

.ver span {
    position: relative;
    top: 36px;
    right: 80px;
    font-size: 20px;
}

.ver span:hover {
    border: 2px solid orange;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    text-align: center;
}

/* área dos quadrados */
.quadrados {
    height: 82%;
    width: 100%;
}

.caixa1 {
    height: 50%;
    gap: 15px;
    display: flex;
    justify-content: space-around;
}

.caixa1>div {
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 10px 20px 30px #ff050534;
}

.q1 span {
    font-size: 23px;
    font-family: bold;
    color: black;
}

.q1 p {
    font-size: 20px;
}

.q2 span {
    font-size: 23px;
    font-family: bold;
    color: black;
}

.q2 p {
    font-size: 20px;
}

.q3 span {
    font-size: 23px;
    font-family: bold;
    color: black;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icon img {
    width: 40px;
}

/* caixa número 2 */


.caixa2 {
    height: 50%;
    gap: 95px;
    padding-left: 50px;
    display: flex;
}

.caixa2 div {
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 10px 20px 30px #ff050534;
}

.q4 span {
    font-size: 23px;
    font-family: bold;
    color: black;
}

.q4 p {
    font-size: 20px;
}

.q5 span {
    font-size: 23px;
    font-family: bold;
    color: black;
}

.q5 p {
    font-size: 20px;
}


/* proxima página para #005 */
.prox {
    width: 30%;
    height: 100%;
}

.seguida {
    height: 100%;
    width: 30%;
    position: relative;
    gap: 10px;
    left: 200px;
}

.seguida img {
    width: 56px;
}

.seguida span {
    font-size: 24px;
    font-family: bold;
    color: black;
    position: absolute;
    right: 85px;
    bottom: 390px;
}

.seguida p {
    position: absolute;
    color: gray;
    bottom: 360px;
    right: 75px;
}

.status {
    height: 30%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.stats {
    font-size: 15px;
}

.colunas {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.habilidades, .numero{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.barra{
   display: flex;
   flex-direction: column;
   gap: 22px;
}


#coluna1 {
    width: 342px;
    height: 12px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 37%, rgba(115, 115, 115, 1) 0%);
    border-radius: 10px;
}

#coluna2 {
    width: 342px;
    height: 12px;
    background: linear-gradient(90deg,rgba(33, 179, 0, 1) 63%, rgba(115, 115, 115, 1) 0%);
    border-radius: 10px;
}

#coluna3 {
    width: 342px;
    height: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg,rgba(255, 0, 0, 1) 50%, rgba(115, 115, 115, 1) 0%)
}

#coluna4, #coluna5 {
    width: 342px;
    height: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg,rgba(33, 179, 0, 1) 73%, rgba(115, 115, 115, 1) 0%);
}

#coluna6 {
    width: 342px;
    height: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 37%, rgba(115, 115, 115, 1) 0%);
}