body {
    height: 100vh;
    /* background-color: aqua; */
}

header {
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.pokedex {
    text-align: center;
}

.informacao {
    width: 350px;
    position: absolute;
    left: 70%;
    text-align: center;
    color: gray;

}

.informacao span {
    margin: 10px;
    font-size: 23px;
}

.informacao span:hover {
    color: black;
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

/*header finalizado a cima*/

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.char {
    width: 50vw;
    height: 100vh;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20%;
    height: 100px;
}

.titulo span{
    color: gray;
    font-size: 24px;
}

.titulo p {
    position: absolute;
    top: 160px;
    justify-content: center;
    font-style: bold;
    height: 20px;
    width: 70px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

.proximo {
    height: 50%;
    display: flex;

}

.img {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.img img {
    height: 500px;
   filter: drop-shadow(10px 20px 70px rgb(255, 127, 0));
}

.pag {
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.pag span{
    font-size: 24px;
}

.pag p{
    position: absolute;
    bottom: 610px;
    left: 70px;
    color: gray;
    font-size: 15px;
}

/*Parte de baixo da evolução*/

.evolucao {
    background-color: green;
    height: 41%;
    display: flex;
    justify-content: space-evenly;
}

.text{
    font-size: 20px;
    width: 160px; 
    position: absolute;
    left: 120px;
}


/*charmander*/

.n4{
    background-color: rgb(119, 102, 102);
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charmander{
    padding: 20px;
    border: 3px solid;
    border-color: orange;
    border-radius: 100%;
}

.charmander img{
    height: 142px;
}

/*charmelion*/

.n5{
    background-color: blueviolet;
    width: 220px;

}

/*charizard*/

.n6{
    background-color: aqua;
    width: 220px;

}

.info {
    background-color: gray;
    width: 50vw;
    height: 100vh;

}