body {
    height: 100vh;
    /* background-color: aqua; */
}

header {
    width: 100vw;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

}

.pokedex {
    text-align: center;
}

.informacao {
    width: 350px;
    position: absolute;
    left: 70%;
    text-align: center;
    color: gray;

}

.informacao span {
    margin: 10px;
    font-size: 23px;
}

.informacao span:hover {
    color: black;
    border-bottom: 2px solid orange;
    padding-bottom: 2px;
}

/*header finalizado a cima*/

main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.char {
    width: 50vw;
    height: 100vh;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20%;
    height: 100px;
}

.titulo span{
    color: gray;
    font-size: 24px;
}

.titulo p {
    position: absolute;
    top: 160px;
    justify-content: center;
    font-style: bold;
    height: 20px;
    width: 70px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
}

.proximo {
    height: 50%;
    display: flex;

}

.img {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.img img {
    height: 500px;
   filter: drop-shadow(10px 20px 70px rgb(255, 127, 0));
}

.pag {
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.pag span{
    font-size: 24px;
}

.pag p{
    position: absolute;
    bottom: 610px;
    left: 70px;
    color: gray;
    font-size: 15px;
}

/*Parte de baixo da evolução*/

.evolucao {
    height: 41%;
    display: flex;
    justify-content: space-evenly;
}

.text{
    font-size: 20px;
    width: 160px; 
    position: absolute;
    left: 120px;
}


/*charmander*/

.n4{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charmander{
    padding: 20px;
    border: 3px solid;
    border-color: orange;
    border-radius: 100%;
}

.charmander img{
    height: 142px;
}

.information span{
    font-size: 24px;
    color: gray;
}

.information p{
    font-size: 20px;
    width: 70px;
    font-style: bold;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
}

/*charmeleon*/

.n5{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charmeleon{
    border-radius: 100%;
    border: 3px solid;
    border-color: orange;
    padding: 20px;
}

.charmeleon img{
    height: 142px;
}

.information2 span{
    font-size: 24px;
    color: gray;
}

.information2 p{
    font-size: 20px;
    width: 70px;
    font-style: bold;
    background-color: orange;
    text-align: center;
    border-radius: 10px;
}

/*charizard*/

.n6{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.charizard{
    border-radius: 100%;
    border: 3px solid;
    border-color: orange;
    padding: 20px;
}

.charizard img{
    height: 142px;
}

.information3 span{
    font-size: 24px;
    color: gray;
}

.tipo{
    width: 150px;
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-style: bold;
}

#fogo {
    background-color: orange;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}

#fly {
    border-radius: 10px;
    width: 70px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(113, 113, 236), gray)
}


/*outro lado abaixo*/

.info {
    width: 50vw;
    height: 100vh;
}



.elemento{
    padding-left: 25px;
    padding-top: 10px;
    gap: 15px;
    display: flex;

}

.fraquezas{
    height: 10%;
}

#agua{
    font-size: 20px;
    font-family: bold;
    color: #fafafa;
    background-color: blue;
    width: 70px;
    border-radius: 10px;
    text-align: center;
}

#terra{
    font-size: 20px;
    font-family: bold;
    background:linear-gradient(to bottom, #f2db42, #ac9743);
    width: 70px;
    border-radius: 10px;
    text-align: center;
}

#pedra{
    font-size: 20px;
    font-family: bold;
    background-color: #a48c20;
    width: 70px;
    border-radius: 10px;
    text-align: center;
}

.descricao{
    height: 20%;
}

.story{
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 25px;
    font-family: bold;
}

.peq{
   width: 450px;
   font-size: 25px;
}

.versao{
    display: flex;
    height: 40%;
}

.versions{
    height: 100%;
    width: 70%;
}
/*meio do canto esquerdo*/

.ver{
    width: 100%;
    height: 18%;
    display: flex;
    gap: 30px;
}

.ver h1{
    font-size: 25px;
    font-family: bold;
}

.ver span{
    position: relative;
    top: 36px;
    right: 80px;
    font-size: 20px;
}

.ver span:hover{
    border: 2px solid orange;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    text-align: center;
}

.quadrados{
    height: 82%;
    width: 100%;
    background-color: #f2db42;
    
}

.caixa1{
    height: 50%;
    background-color: bisque;
    gap: 15px;
    display: flex;
    justify-content: space-around;
}

.caixa1 div{
    background-color: black;
    height: 130px;
    width: 130px;
}


.prox{
    width: 30%;
    background-color: aqua;
    height: 100%;
}

.status{
    background-color: blueviolet;
    height: 30%;
}